*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(228, 246, 254);
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
    color: rgb(39, 38, 38);

}

.dark{
    background-color: rgb(81, 81, 81);
    color: rgb(255, 255, 255);
    
}

.darkMode{
    margin-top: 1.5rem;
display: flex;
align-items: flex-end;
justify-content: flex-end;
}
.fa-moon{
font-size: 2rem; 
   color: orangered;


cursor: pointer;
}
.fa-moon:hover{
    color: grey;
}

.container{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 3rem 5rem 4rem 5rem;
width: 700px;
}
.wrap{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-book-open{
    font-size: 2rem;
    color:  rgb(8, 213, 249);;
    margin-left: 1rem;
}
.inputIt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fa-square-plus{
    font-size: 2rem;
    color:  rgb(8, 213, 249);
    cursor: pointer;

}



input{
    width: 80%;
    padding: .8rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
}
ul{
    /* margin-left: 1rem; */
    margin-left: 1rem;

}

ul li{
list-style: none;
position: relative;
cursor: pointer;
padding-left: 1.5rem;
margin-top: 1.5rem;
/* background-color: red; */
white-space: normal;
width: 100%;
margin-bottom: 1.5rem;

}




ul li::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-color: red; */
    /* top:12px; */
    left: -1rem;
    margin-right: 1rem;
    background-position: center;
background-size: cover;
background-image: url('images/unchecked.png');

  }

  ul li.checked{
text-decoration: line-through;
  }

  ul li.checked::before {
background-image: url('images/checked.png');
      }


      span{
        font-size: 1.4rem;
        color:black;
        font-style: bold;
        font-weight: 1000;
        position: absolute;
        right: 3px;
        cursor: pointer;
      }
       .multiline {
        width: 100%;
        word-break: break-all;
      }


@media screen and (max-width:415px) {
    .container{
        width:500px;
        padding: 2rem .5rem;

    }
   

}
